body {
	padding-top: 0px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: baseline;
}

.flex-item {
	order: 0;
	flex: 10 0 280px;
	align-self: auto;
	}

.vcenter {
    vertical-align: middle;
    float: none;
}